<!doctype html>
<html>
<head>
<title>Twitter Clone</title>
<ul id="nav_bar">
	<li>
		<a href="/">
		Sign-up or login
	</li>
	<li>
		<a href="/">
		Contact Us!
	</li>

</ul>





</head>
<body>
<%=yield%>



</body>
</html>