<!doctype html>
<html>
	<head>
		<title>Twitter Clone</title>
	</head>
	<body>
		<ul id="nav_bar">
				<li>
					<a href="/signup">
					Sign-up or login</a>
				</li>
				<li>
					<a href="/profile">
					Contact Us!</a>
				</li>

			</ul>
		<%=yield%>



	</body>
</html>