
<form method="post" action="/user_login_attempt" class="form">
  <label >
    <input type="text" name="email"/>
    <b>Email</b>
  </label>
  <p>
    <input type="password" name="password"/>
    <b>Password</b>
  </p> 
  <button type="submit">Submit</button>
</form>

<br />

<form method="post" action="/signup" class="form">
  <label for="username">
  <b>Your Full Name</b>
  </label>
 

    <input type="text" name="username">

  <label for="email">
    <b>Email Address</b>
    </label>
 
    <textarea type="text" name="email"></textarea>
  <label for="handle">
    <b>Handle</b>
  </label>
  
    <input type="text" name="handle">

  <label>
    <b>Password Create</b>
  </label>
 
    <input type="text" name="password"/>
 
  <label for="security_question">
    <b>Security Question</b>
  </label>
 
    <textarea type="text" name="security_question"></textarea>
 
  <label for="security_answer">
      <b>Security Answer</b>
  </label>
 
      <input type="text" name="security_answer"/>

  <button type="submit">Submit</button>
</form>
